/* --------------Global Styling --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    display: flex;
    justify-content: center;
} */


/* -------Font family reference-------- */
/* .fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* ------------From Currency container----------------- */

#from-currency-container{
    display: flex;
    align-items: center;
    position: relative;
}

#from-currency-form {
    padding: 10px;
    font-family: "Roboto";

}

.currency {
    font-family: "Roboto";
}

#currency {
    border-radius: 5px;
    width: 11rem;
    padding: 10px;
    margin: 5px;
}

#from-header {
   margin: 5px;
}

/* ------------input container------------- */
#input-form-container {
    display: flex;
    
}

#input-container {
    display: flex;
    align-items: center;
    position: relative;
    
}

#h1-containter {
    display: flex;
    align-items: center;
}

h1 {
    padding: 10px;
    font-family: "Fjalla One";
    margin-left: 5px;
}

#input-form {
    padding: 10px;
    font-family: "Roboto";
}

#amount-header {
    padding: 10px;
    font-family: "Roboto";
}

#input-amount {
    padding: 10px;
    margin-left: 5px;
    width: 15rem;
    border-radius: 10px;
    font-family: "Roboto";
    border-color: rgb(119, 114, 114);
}

/* button */

#convert-btn {
    border-radius: 100px;
    border: none;
    cursor: pointer;
    display: flex;
    position: relative;
    margin-left: 17px;
    background: none;
}

#svg {
    width: 3rem;
    
}

#convert-btn:hover {
    background-color: cyan;
}

#big-btn {
    padding: 12px;
    margin-left: 13px;
    width: 15rem;
    border-radius: 10px;
    background-color: rgb(57, 97, 255);
    border: none;
    
}

